*:focus {
	outline-color: var(--vscode-focusBorder) !important;
}

body {
	font-weight: bold;
}

select {
	width: 70px;
}

label,input,select {
	vertical-align: middle;
	border: none;
}

input[type="color"] {
	width: 42px;
	height: 42px;
}

input[type="checkbox"] {
	width: 20px;
	height: 20px;
	padding: 0;
	margin: 0;
}
